<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871602165429-pf2v548ukpmkj1l3o1gm7ddegl1gj8lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871602165429-pf2v548ukpmkj1l3o1gm7ddegl1gj8lp</string>
	<key>API_KEY</key>
	<string>AIzaSyB6D1-z7RzTYfmVcT2syTj-C6KqPUldzuM</string>
	<key>GCM_SENDER_ID</key>
	<string>871602165429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berketopcu.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-643a4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-643a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871602165429:ios:2628671c7695754a0250fc</string>
</dict>
</plist>